<header class="header body-pd" id="header" [ngClass]="checkIsLoggedIn ? 'border-bottom': ''">
  <ng-container *ngIf="checkIsLoggedIn">
    <div class="header_toggle ps-3" (click)="toggleSidebar()"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <div class="dropdown">
      <i class="bx bxs-user-circle pointer avtar-icon" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item pointer" (click)="navigate('/profile')">My Profile</a></li>
      </ul>
    </div>
  </ng-container>
  <ng-container *ngIf="!checkIsLoggedIn">
    <div class="navbar-area sticky">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.html">
                <img src="assets/img/logo/logo.png" alt="Logo" />
              </a>
              <!-- navbar collapse -->
            </nav>
            <!-- navbar -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
  </ng-container>
</header>