<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card no-shadow">
                <div class="card-body ">
                    <p class="d-flex align-items-center"><i class="material-icons me-2">receipt</i> TOTAL GENERATED INVOICES</p>
                    <p>0</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card no-shadow">
                <div class="card-body">
                    <p class="d-flex align-items-center"><i class="material-icons me-2">people</i> TOTAL USERS</p>
                    <p>0</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card no-shadow">
                <div class="card-body">
                    <p class="d-flex align-items-center"><i class="material-icons me-2">note</i> CURRENT RELEASE</p>
                    <p>0.0.1</p>
                </div>
            </div>
        </div>
    </div>
</div>
