<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card no-shadow">
                <div class="card-body ">
                    <p><i class="bx bx-money nav_icon"></i> TOTAL GENERATED INVOICES</p>
                    <p>{{analysisData?.no_of_invoices | number}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="card no-shadow">
                <div class="card-body">
                    <p><i class="bx bx-loader nav_icon"></i> TOTAL PENDING INVOICES</p>
                    <p>{{analysisData?.pendingInvoices | number}}</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-4">
            <div class="card no-shadow">
                <div class="card-body">
                    <p><i class="bx bx-time nav_icon"></i> TOTAL OVERDUE INVOICES</p>
                    <p>{{analysisData?.overdueInvoices | number}}</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
