<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
  </div>
  <div class="modal-body">
    <div [innerHTML]="descirption"></div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close(null)"
    >
      CANCEL
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="modal.close(true)"
    >
      DELETE
    </button>
  </div>
</div>
