<div class="container">
  <div class="alert alert-warning my-2" *ngIf="form.get('is_active').value">
    Warning! You updating/viewing current website version. Please be careful
  </div>
  <div class="d-flex justify-content-between align-items-center my-3">
    <p class="title">
      <i class="bx bx-message-square-detail"></i> Create New Setting
    </p>
    <div *ngIf="!editMode">
      <button
        class="btn btn-sm btn-success me-2"
        [disabled]="form.get('is_active').value"
        (click)="makeCurrentVersion()"
      >
        Make Active
      </button>
      <button class="btn btn-sm btn-primary me-2" (click)="editSetting()">
        Edit Setting
      </button>
      <button class="btn btn-sm btn-danger" (click)="deleteSetting()">
        Delete Setting
      </button>
    </div>
    <div *ngIf="editMode">
      <button class="btn btn-sm me-2 btn-light" (click)="cancleUpdate()">
        CANCEL
      </button>
      <button
        class="btn btn-sm btn-primary"
        [disabled]="!form.valid"
        (click)="saveSetting()"
      >
        {{ mode === "create" ? "Save Setting" : "Update Setting" }}
      </button>
    </div>
  </div>
  <hr />
  <div class="alert alert-danger" *ngIf="errorMsg">{{ errorMsg }}</div>
  <div>
    <form [formGroup]="form">
        <app-customer-settings [form]="form" [editMode]="editMode"></app-customer-settings>
        <app-account-settings [form]="form" [editMode]="editMode"></app-account-settings>
    </form>
  </div>
</div>
